.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.top {
    background-color: white;
    padding: 24px 4rem;
    padding-bottom: 0px;
}

@media only screen and (max-width:900px) {
    .top {
        background-color: white;
        padding: 24px 2rem;
        padding-bottom: 0px;
    }

    .breadcrumbsTop {
        padding-block: 15px;
        padding-inline: 1rem !important;
        width: 100%;
        border-block: 1px solid #E0E0E0;
        background-color: white;
    }

}

.title {
    color: #012635;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tabLayout {
    display: flex;
}

.tabItems {
    padding: 8px 16px;
    color: #012635;
    font-size: 1.2rem;
    line-height: 22px;
    font-weight: 500;
}

.breadcrumbsTop {
    padding-block: 15px;
    padding-inline: 4rem;
    width: 100%;
    border-block: 1px solid #E0E0E0;
    background-color: white;
}

.breadcrumbsTop .innerBreadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.breadcrumbsTop .innerBreadcrumbs .parentBreadcrumb {
    font-size: 14px;
    color: #777777;
    font-weight: 400;
}

.breadcrumbsTop .innerBreadcrumbs .ChildBreadcrumb {
    font-size: 14px;
    color: #012635;
    font-weight: 500;
}


.container::-webkit-scrollbar {
    width: 0 !important;
}