.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.top {
    background-color: white;
    padding: 16px 16px;
    padding-bottom: 0px;
    border-top: 1px solid #E0E0E0;
}

@media only screen and (max-width:900px) {
    .top {
        background-color: white;
        padding:16px;
        padding-bottom: 0px;
        border-top: 1px solid #E0E0E0;
    }
    .breadcrumbsTop {
        padding-block: 12px;
        padding-inline: 16 !important;
        width: 100%;
        border-bottom: 1px solid #E0E0E0;
    }
    
}

.title {
    /* color: #012635;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700; */
    /* margin-bottom: 8px; */
}

.tabLayout {
    display: flex;
}

.tabItems {
    padding: 8px 16px;
    /* color: #012635;
    font-size: 1.2rem;
    line-height: 22px;
    font-weight: 500; */
}

.breadcrumbsTop {
    padding-block: 12px;
    padding-inline: 16px;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
}

.breadcrumbsTop .innerBreadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.breadcrumbsTop .innerBreadcrumbs .parentBreadcrumb {
    font-size: 14px;
    color: #777777;
    font-weight: 400;
}

.breadcrumbsTop .innerBreadcrumbs .ChildBreadcrumb {
    font-size: 14px;
    color: #012635;
    font-weight: 500;
}


.container::-webkit-scrollbar {
    width: 0 !important;
}